* {
  margin: 0;
}

body {
  font-family: 'Raleway', sans-serif;
  font-family: 'Raleway', sans-serif;
  width: 100vw;
  height: 100vh;
}

.ch2 {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  color: rgb(78, 76, 76);
}

h1 {
  font-family: 'Raleway', sans-serif;
  text-align: center;



}

i {
  font-size: 3rem;
  color: black;
  padding: 2px;
  border-bottom: 1px solid black;
}

.container1 {

  display: flex;

  margin: 3rem;
  align-items: center;
  justify-content: center;
  text-align: center;

}

.phone {
  font-family: 'Raleway', sans-serif;
  color: rgb(87, 86, 86);
  font-weight: 00;
}

.email {
  font-family: 'Raleway', sans-serif;
  color: rgb(87, 86, 86);
  font-weight: 00;
}

.phonenumber,
.emailname {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
}

.colum {
  width: 300px;
  height: 200px;
  padding: 4.5rem;
  margin: 2rem;
  background-color: lavender;
}

.colum:hover {
  transform: scale(1.2);
  border-bottom: 1px solid gainsboro;
}