* {
  margin: 0;

}

.b {
  background-color: #28184C;

}

form {
  position: relative;
  border-radius: 20px;

  margin-left: auto;
  margin-right: auto;

  height: 500px;
  margin-bottom: 2rem;
}

.ch2 {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  color: rgb(0, 0, 0);
  padding: 1rem;
}

h1 {
  padding: 1rem;
  font-family: 'Raleway', sans-serif;
  text-align: center;



}

i {
  font-size: 3rem;
  color: white;
  padding: 2px;
}

.f i {
  color: white;
  padding: 2px;
  font-size: 2rem;
  border-bottom: none;

}