* {
  margin: 0;

}

.b {
  background-color: #28184C;

}

form {
  position: relative;
  border-radius: 20px;
  background: #A78DE1;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  height: 500px;
  margin-bottom: 2rem;
}

.ch2 {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  color: rgb(0, 0, 0);
}

h1 {
  font-family: 'Raleway', sans-serif;
  text-align: center;



}

i {
  font-size: 3rem;
  color: white;
  padding: 2px;
}

.container1 {


  display: flex;
  flex-direction: row;
  margin: 3rem;
  align-items: center;
  justify-content: center;
  text-align: center;

}

.phone {
  font-family: 'Raleway', sans-serif;
  color: rgb(0, 0, 0);
  font-weight: 8E00;
}

.email {
  font-family: 'Raleway', sans-serif;
  color: rgb(8, 8, 8);
  font-weight: 800;
}

.phonenumber,
.emailname {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  color: black;
}

.colum {
  width: 300px;
  height: 200px;
  padding: 4.5rem;
  margin: 2rem;

}

.colum:nth-child(1) {
  position: absolute;
  left: 0;

}

.colum1 a {
  color: black;
}

.colum {
  right: 0;
  margin-top: 40px;
  position: absolute;

}

.colum:hover {
  transform: scale(1.2);
  border-bottom: 1px solid rgb(167, 167, 167);
}