  html {


    font-family: 'Raleway', sans-serif;
  }

  .body {
    background-color: #28184C;

    margin: 0;
    transition: ease-in;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;


  }

  .resume {
    color: white;
    background-color: transparent;
    font-size: 10px;
  }

  .resume:hover {
    color: black;
  }

  header {
    width: 100%;
  }


  .topnav {
    padding: 2rem;
    text-align: center;
    overflow: hidden;

    background: #A78DE1;

    bottom: 0;

  }

  .topnav a {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    color: white;
    text-align: center;
    padding: 4vw;
    text-decoration: none;
    font-size: 20px;

  }

  .topnav i {
    font-size: 1.5rem;
  }

  .topnav i:hover {
    color: black;

  }

  .topnav a:hover {

    color: black;
  }

  .topnav a:active {
    margin-top: 0;
    color: white;
  }

  .logo {


    width: 100px;
    left: 0;
    padding: 2rem;
    text-align: center;
    top: 0;



  }




  #button {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    color: white;
    background: none;
    display: inline;
    text-align: center;
    border-radius: 5px;
    font-weight: 600;
  }





  .one,
  .two,
  .three {
    width: 100px;
  }

  i,
  .s {
    color: white;

    font-size: 1rem;

    text-align: center;



  }

  .bimg {

    top: 2;
    left: 20px;

    width: 200px;
    float: left;
    clear: both;
  }

  .bimg::after {
    clear: both;
  }

  .myskills {
    height: 300px;
    position: relative;
    top: 50;
    margin: auto;
    margin-top: 2rem;
    width: 80%;
    padding: 1vw;
    text-align: center;
    background: #A78DE1;
    color: white;


  }

  .myskills h1 {
    font-size: 40px;
    font-weight: 700;
  }

  .myskills h2 {
    font-size: 25px;
    color: white;
    font-weight: 500;
  }

  .myskills p {
    font-size: 15px;
    margin-left: 1rem;
  }

  .myskills button a {
    margin-bottom: 70px;
    border-radius: 30px;
    font-size: 15px;
    color: #000;
  }

  .myskills button {
    margin-top: 1rem;
  }

  .skilllists {
    position: absolute;
    width: 400px;
    font-size: 3rem;
    padding: 2rem;
    margin: 2rem;
  }



  .skill {
    margin-bottom: auto;
    padding: 1vw;
    display: inline;
    font-size: 1.5rem;
  }

  .fa-cogs {
    color: black;

  }

  .skills {
    position: relative;
    margin-top: 2rem;
    padding: 1vw;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 0;
  }

  .s {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    position: relative;
    background: #DBD9E0;
    color: black;

  }

  .s .fa-vuejs {
    color: green;
    font-size: 3rem;
    position: absolute;
    margin-left: 9%;
    margin-top: -8px;
  }

  .s h1 {
    position: absolute;
    left: 20;
    top: 0;
    margin-left: 40px;
  }


  .skillscontainer {

    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    list-style-type: none;
    display: grid;
    padding: 1rem;
    grid-gap: 2rem;
    grid-column-gap: 1px;
    grid-template-columns: repeat(16, 1fr);
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    align-content: center;
    justify-items: center;

  }



  .skillscontainer {
    justify-items: center;
    align-items: center;
  }

  .myskills {
    text-align: center;
    justify-content: center;
  }


  .projects {
    background-color: #28184C;
    top: 100px;

    text-align: center;


  }

  .projects .h1 {
    color: white;
    font-size: 3rem;
    bottom: 20px;
    justify-content: center;
  }



  .javascript {
    padding: 2rem;
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 50%;
    margin: 2rem;
    background-color: #28184C;
  }

  .javascript .box {
    display: inline-block;
    position: relative;
    margin: 10px;
    width: 40%;
    height: 50%;

    display: inline-block;
  }

  .javascript .box .imgbox {
    position: relative;
    overflow: hidden;
  }

  .javascript .box .imgbox img {
    border-radius: 10px;
    max-width: 100%;
    transition: transform 2s;
  }

  .javascript .box:hover .imgbox img {
    transform: scale(1.2);
  }

  .javascript .box .details {
    position: absolute;
    top: 10px;
    right: 10px;
    left: 10px;
    bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    background: rgba(0, 0, 0, 0.918);
    transform: scaleY(0);
    transition: transform .5s;
  }

  .javascript .box:hover .details {
    transform: scaleY(1);
  }


  .javascript .box .details .content {
    position: absolute;

    top: 25%;
    left: 30%;
    right: 30%;
    bottom: 30%;

    transform: translateY(-0%);
    text-align: center;
    padding: 15px;

  }

  .javascript .box .details .content h1 {
    text-align: center;

    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    font-size: 25px;
    color: #ffff;
  }

  .content h1 button a {
    border-radius: 2px;
    color: white;
    text-align: center;

  }

  .content button {
    border-radius: 10px;
    background: transparent;

  }

  .content button:hover {
    border-radius: 10px;
    color: white;
    background: rgb(119, 32, 218);
  }

  .content a {
    color: white;
    font-size: 90%;
  }

  .content a:hover {
    text-decoration: none;
    color: white;

  }

  .borbala {
    margin-top: -10px;
    border-radius: 2%;
    margin-left: auto;
    margin-right: auto;
    width: 300px;

  }

  .b {
    margin-top: 0;
    color: white;
    text-align: center;

  }

  .biotext {

    margin-right: 30%;
    margin-left: 30%;
  }

  .bio {
    margin: 2%;

  }

  .biotex h1 {
    font-size: 1.5rem;
  }





  footer {
    width: 100vw;
    height: 20vh;
    background: #A78DE1;

    padding: 3rem;
    text-align: center;
    margin-bottom: 0rem;
  }

  footer i {
    color: white;
    padding: 2px;
    font-size: 2rem;
    border-bottom: none;

  }

  @media only screen and (max-width: 600px) {


    .resume {
      color: white;
      background-color: transparent;
      font-size: 9px;
    }


    .modalconent #button {
      font-size: 20px;
    }












    .topnav a {
      font-size: 1.5rem;
    }

    .biotext h1 {
      font-size: 2.2rem;
      font-weight: 800;
    }

    .biotext {
      font-size: 1.5rem;
    }





    .javascript {
      padding: 2rem;
      justify-content: center;
      flex-wrap: wrap;
      display: flex;
      flex-direction: row;
      width: 100%;
      min-height: 50%;
      margin: 2rem;
      background-color: #000000;
    }

    .javascript .box {
      display: inline-block;
      position: relative;
      margin: 10px;
      width: 60%;
      height: 60%;

      display: inline-block;
    }

    .javascript .box .imgbox {
      position: relative;
      overflow: hidden;
    }

    .javascript .box .imgbox img {
      border-radius: 10px;
      max-width: 100%;
      transition: transform 2s;
    }

    .javascript .box:hover .imgbox img {
      transform: scale(1.2);
    }

    .javascript .box .details {
      position: absolute;
      top: 4px;
      right: 4px;
      left: 4px;
      bottom: 4px;
      margin-left: auto;
      margin-right: auto;
      background: rgba(0, 0, 0, 0.671);
      transform: scaleY(0);
      transition: transform .5s;
    }

    .javascript .box:hover .details {
      transform: scaleY(1);
    }


    .javascript .box .details .content {
      position: absolute;

      top: 20%;
      left: 10%;
      right: 10%;
      bottom: 10%;

      transform: translateY(-0%);
      text-align: center;
      padding: 10px;

    }

    .javascript .box .details .content h1 {


      font-size: 15px;
      color: #ffff;
    }

    .content h1 button a {
      border-radius: 2px;
      color: white;
      text-align: center;

    }

    .content button {
      border-radius: 10px;
      background: transparent;

    }

    .content button:hover {
      border-radius: 10px;
      color: white;

    }

    .content a {
      color: white;
      font-size: 90%;
    }

    .content a:hover {
      text-decoration: none;
      color: white;

    }




    .skillslist {
      font-size: 12px;
    }







  }